{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>About</title>
{% endblock%}

{% block content %}

<div class="container" style='text-align:center; position: absolute; top:20%; left:15%;'>
   <h3 style='margin-bottom:20px;'>AboutUS</h3>
   <p style='font-size:20px; margin-bottom:20px;'>Hi my name is Monu Kaushik and I am a software developer and this project is made in django framework if you interested for more project and get more details about django and python follow me on github</p>
   <p >Email :- monukaushik51@gmail.com <br>
       Contact No:- 9582185588 <br>
       Github link :- https://github.com/monukaushik <br>
   </p>
</div>

{% endblock %}
</html>