{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>Add Book Page</title>
{% endblock%}
{% block lms %}
              <a href="#" class="brand-logo">LMS - Admin</a>
{% endblock %}

{% block header %}  
<li><a href="/custom_admin/">Home </a></li>
<li><a href="/allstudent/">All Student</a></li>
<li><a href="/adminbooksummary/">Book Summary </a></li>
<li><a href="/bookissuedsumadmin/">Book Issued</a></li>
<li><a href="/addnewbook/">Book Add</a></li>
<li><a href="/notification/">Notification</a></li>
<li><a href="/logout/">Logout</a></li>
{% endblock %}

{% block content %}

<div class='container' style='margin-top:30px; display:flex; place-content:center;'>
    <div class='main' style='width:500px; border:1px solid gray; padding:10px; border-radius:5px;'>
        <form action='' method='POST' enctype="multipart/form-data">   
        {% csrf_token %} 
            <div class="mb-3">
              <label for="bookname" class="form-label"> Book Name</label>
              <input type="text" class="form-control" name='bookname' placeholder='Enter bookname'>
            </div>
            <div class="mb-3">
                <label for="bookimage" class="form-label">Book Image</label>
                <input type="file" class="form-control" name='bookimage' placeholder='Enter book image'>
              </div>
            <div class="mb-3">
              <label for="bookauthor" class="form-label">Book Author</label>
              <input type="text" class="form-control" name='bookauthor' placeholder='Enter bookauthor'>
            </div>  
            <div class="mb-3">
                <label for="branch" class="form-label">Branch</label>
                <input type="text" class="form-control" name='branch' placeholder='Enter book branch'>
              </div>                  
              <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" name='price' placeholder='Enter book price'>
              </div>   
              <div class="mb-3">
                <label for="bqty" class="form-label">Book Quantity</label>
                <input type="number" class="form-control" name='bqty' placeholder='Enter book quantity'>
              </div>   
            <div style='display: flex; place-content: space-between;'>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href='/custom_admin/' class="btn btn-primary"> Back </a >
            </div>
          </form>
    </div>
</div>   

{% endblock %}
</html>