{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>Admin Page</title>
{% endblock%}
{% block lms %}
              <a href="#" class="brand-logo">LMS - Admin</a>
{% endblock %}

{% block header %}
    <li><a href="/custom_admin/">Home </a></li>
    <li><a href="/allstudent/">All Student</a></li>
    <li><a href="/adminbooksummary/">Book Summary </a></li>
    <li><a href="/bookissuedsumadmin/">Book Issued</a></li>
    <li><a href="/addnewbook/">Book Add</a></li>
    <li><a href="/notification/">Notification</a></li>
    <li><a href="/logout/">Logout</a></li>
{% endblock %}

{% block content %}


{% endblock %}

</html>