{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>Profile Page</title>
{% endblock%}

{% block header %}
    <li><a href="/deshboard/">Deshboard</a></li>
    <li><a href="/logout/">Logout</a></li>
{% endblock %}
{% block content %}
    <div class="row" style='margin-top:10px;'>
      {% if  not studentimg %}
      <div class="col-md-6">
        <img src="{% static 'images.png' %}" width='100%' height='100%'>
      </div>
      {% else %}
      <div class="col-md-6">
        <img src="{{studentimg.url }}" width='100%' height='100%'>
      </div>
      {% endif %}
      <div class="col-md-6">
        <form action='' method='POST' enctype="multipart/form-data">   
            {% csrf_token %} 
                <div class="mb-3">
                  <label for="username" class="form-label">Student Name</label>
                  <input type="text" class="form-control" name='username' placeholder='Enter username' value="{{username}}">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Student Email</label>
                    <input type="email" class="form-control" name='email' placeholder='Enter user email' readonly value="{{useremail}}">
                  </div>
                <div class="mb-3">
                  <label for="userimage" class="form-label">Student Image</label>
                  <input type="file" class="form-control" name='userimage' placeholder='upload your image' value="{{studentimg}}">
                </div>  
                <div class="mb-3">
                    <label for="stuclass" class="form-label">Student Class</label>
                    <input type="number" class="form-control" name='stuclass' placeholder='Enter your class' value="{{studentbranch}}">
                  </div> 
                <div class="mb-3">
                    <label for="sturoll" class="form-label">Student Rollno</label>
                    <input type="number" class="form-control" name='sturoll' placeholder='Enter your roll no' value="{{studentrollno}}">
                </div>   
                <div class="mb-3">
                    <label for="address1" class="form-label">Address 1</label>
                    <input type="text" class="form-control" name='address1' placeholder='Enter current address' value="{{studentadd1}}">
                  </div>                
                <div style='display: flex; place-content: space-between;'>
                    <button type="submit" class="btn btn-primary w-100">Update</button>
                </div>
              </form>
        </div>
    </div>
{% endblock %}

</html>